.vs
.vscode
Build
Target
bin/
obj/

*.userprefs
*.lock.json

# UNIX derived artifacts
*.a
*.o
*.out

# Windows derived artifacts
*.dll
*.exe
*.lib

# Linux derived artifacts
*.elf

# Mac OS derived artifacts
*.dylib
*.pdb